/* スタイルの設定 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

form {
    margin-top: 20px;
    text-align: center;
}

#message {
    color: red;
    font-weight: bold;
}

a {
    text-decoration: none; /* 下線を取り除く */
    color: #49a56f; /* テキストカラー */
    font-weight: bold; /* 太字にする */
  
    /* ホバー時のスタイル */
    &:hover {
      color: #306d4a; /* テキストカラーを変える */
      text-shadow: 0 0 5px rgba(48, 109, 74, 0.2); /* 影をつける */
    }
  }

  